/* Styles for page area above calculator */

.alert {
  background-color: #e6e6e6;
  padding: 8px;
  text-align: center;
  margin-bottom: 40px;
}

.alert div {
  margin: 8px 0;
}

.title {
  text-align: center;
  margin: 20px 0 40px 0;
  font-weight: normal;
  font-size: 38px;
}

.subtitle {
  text-align: center;
  margin: 20px 0 40px 0;
}

/* Calculator-specific styles */

.calculator {
  padding: 16px 24px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
}

#errors {
  color: red;
}

#household-size-label {
  margin-top: 8px;
}

fieldset.usa-fieldset:not(:first-child) {
  margin-top: 1.5rem;
}

fieldset.usa-fieldset legend {
  margin: 0.75rem 0;
}

.label-sub-text {
  color: #2F4F4F;
}

.currency_field_wrapper {
  position: relative;
}

.currency_field_wrapper input {
  padding-left: 20px;
}

.dollar_sign {
  position: absolute;
  top: 9px;
  left: 8px;
}

/* Calculator results styles */

.result-big {
  font-size: 20px;
  margin: 10px 0;
}

.result-big li {
  margin-bottom: 20px;
}

.pass-green {
  color: #00a91c;
}

.fail-red {
  color: #d54309;
}

.explanation-link {
  text-decoration: underline;
  cursor: pointer;
  color: blue;
}

.explanation-link.clicked {
  color: #1b1b1b;
  font-style: italic;
}

/* Utility classes */

.hidden {
  display: none;
}

#main {
  padding-bottom: 80px;
}

/* Footer styles */

footer {
  color: white;
  background-color: #1B1349;
  text-align: center;
  width: 100%;
  padding: 16px;
}

footer a {
  color: white;
}

footer div {
  margin: 16px 0;
}
